@font-face{
  font-family: PingFang;
  src: url(../fonts/PingFang/PingFang-TC-Regular.otf) format("opentype");
}

@font-face{
  font-family: "San Francisco";
  src: url(../fonts/San Francisco/San Francisco-Regular.otf) format("opentype");
}

body{
  font-family: "San Francisco", PingFang, sans-serif;
  
}

.headerBanner{
  background-color: skyblue;
  color: white;
}

input{
  text-align: center;
}

#scoringPage input{
  background-color: white;
  border-radius: 0;
}

#scoringPage td{
  text-align: center;
  width: 50px; 
  padding: 0;
}

#scoringPage .btn-group .btn-lg{
  color: white;
  background: black;
  border-radius: 0;
  border-color: gray;
}

#scoringPage .btn-group .btn-lg:active{
  color: black;
  background: white
}

#keypad{
  position: fixed;
  bottom: 0px;
}

#scoreTable{
  height: 500px;
}

#scoreTable td{
  font-size: 20px;
}